In [1]:
import pandas as pd
import numpy as np

In [2]:
baseball_df = pd.read_csv('dodgers.csv')
baseball_df.head()

,month,day,attend,day_of_week,opponent,temp,skies,day_night,cap,shirt,fireworks,bobblehead
0,APR,10,56000,Tuesday,Pirates,67,Clear,Day,NO,NO,NO,NO
1,APR,11,29729,Wednesday,Pirates,58,Cloudy,Night,NO,NO,NO,NO
2,APR,12,28328,Thursday,Pirates,57,Cloudy,Night,NO,NO,NO,NO
3,APR,13,31601,Friday,Padres,54,Cloudy,Night,NO,NO,YES,NO
4,APR,14,46549,Saturday,Padres,57,Cloudy,Night,NO,NO,NO,NO

In [4]:
baseball_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 12 columns):
month          81 non-null object
day            81 non-null int64
attend         81 non-null int64
day_of_week    81 non-null object
opponent       81 non-null object
temp           81 non-null int64
skies          81 non-null object
day_night      81 non-null object
cap            81 non-null object
shirt          81 non-null object
fireworks      81 non-null object
bobblehead     81 non-null object
dtypes: int64(3), object(9)
memory usage: 7.7+ KB

In [6]:
baseball_df['month'] = baseball_df['month'].str.replace('MAR', 'March')
baseball_df['month'] = baseball_df['month'].str.replace('APR', 'April')
baseball_df['month'] = baseball_df['month'].str.replace('MAY', 'May')
baseball_df['month'] = baseball_df['month'].str.replace('JUN', 'June')
baseball_df['month'] = baseball_df['month'].str.replace('JUL', 'July')
baseball_df['month'] = baseball_df['month'].str.replace('AUG', 'August')
baseball_df['month'] = baseball_df['month'].str.replace('SEP', 'September')
baseball_df['month'] = baseball_df['month'].str.replace('OCT', 'October')
baseball_df.head(25)

,month,day,attend,day_of_week,opponent,temp,skies,day_night,cap,shirt,fireworks,bobblehead
0,April,10,56000,Tuesday,Pirates,67,Clear,Day,NO,NO,NO,NO
1,April,11,29729,Wednesday,Pirates,58,Cloudy,Night,NO,NO,NO,NO
2,April,12,28328,Thursday,Pirates,57,Cloudy,Night,NO,NO,NO,NO
3,April,13,31601,Friday,Padres,54,Cloudy,Night,NO,NO,YES,NO
4,April,14,46549,Saturday,Padres,57,Cloudy,Night,NO,NO,NO,NO
5,April,15,38359,Sunday,Padres,65,Clear,Day,NO,NO,NO,NO
6,April,23,26376,Monday,Braves,60,Cloudy,Night,NO,NO,NO,NO
7,April,24,44014,Tuesday,Braves,63,Cloudy,Night,NO,NO,NO,NO
8,April,25,26345,Wednesday,Braves,64,Cloudy,Night,NO,NO,NO,NO
9,April,27,44807,Friday,Nationals,66,Clear,Night,NO,NO,YES,NO
10,April,28,54242,Saturday,Nationals,71,Clear,Night,NO,NO,NO,YES
11,April,29,48753,Sunday,Nationals,74,Clear,Day,NO,YES,NO,NO
12,May,7,43713,Monday,Giants,67,Clear,Night,NO,NO,NO,NO
13,May,8,32799,Tuesday,Giants,75,Clear,Night,NO,NO,NO,NO
14,May,9,33993,Wednesday,Giants,71,Clear,Night,NO,NO,NO,NO
15,May,11,35591,Friday,Rockies,65,Clear,Night,NO,NO,YES,NO
16,May,12,33735,Saturday,Rockies,65,Clear,Night,NO,NO,NO,NO
17,May,13,49124,Sunday,Rockies,70,Clear,Day,NO,NO,NO,NO
18,May,14,24312,Monday,Snakes,67,Clear,Night,NO,NO,NO,NO
19,May,15,47077,Tuesday,Snakes,70,Clear,Night,NO,NO,NO,YES
20,May,18,40906,Friday,Cardinals,64,Clear,Night,NO,NO,YES,NO
21,May,19,39383,Saturday,Cardinals,67,Clear,Night,NO,NO,NO,NO
22,May,20,44005,Sunday,Cardinals,77,Clear,Night,NO,NO,NO,NO
23,May,25,36283,Friday,Astros,59,Cloudy,Night,NO,NO,YES,NO
24,May,26,36561,Saturday,Astros,61,Cloudy,Night,NO,NO,NO,NO

In [7]:
baseball_df['cap'] = baseball_df['cap'].str.replace('NO', '0')
baseball_df['cap'] = baseball_df['cap'].str.replace('YES', '1')
baseball_df.astype({"cap": 'int64'})

baseball_df['shirt'] = baseball_df['shirt'].str.replace('NO', '0')
baseball_df['shirt'] = baseball_df['shirt'].str.replace('YES', '1')
baseball_df.astype({"shirt": 'int64'})

baseball_df['fireworks'] = baseball_df['fireworks'].str.replace('NO', '0')
baseball_df['fireworks'] = baseball_df['fireworks'].str.replace('YES', '1')
baseball_df.astype({"fireworks": 'int64'})

baseball_df['bobblehead'] = baseball_df['bobblehead'].str.replace('NO', '0')
baseball_df['bobblehead'] = baseball_df['bobblehead'].str.replace('YES', '1')
baseball_df.astype({"bobblehead": 'int64'})

,month,day,attend,day_of_week,opponent,temp,skies,day_night,cap,shirt,fireworks,bobblehead
0,April,10,56000,Tuesday,Pirates,67,Clear,Day,0,0,0,0
1,April,11,29729,Wednesday,Pirates,58,Cloudy,Night,0,0,0,0
2,April,12,28328,Thursday,Pirates,57,Cloudy,Night,0,0,0,0
3,April,13,31601,Friday,Padres,54,Cloudy,Night,0,0,1,0
4,April,14,46549,Saturday,Padres,57,Cloudy,Night,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
76,September,29,40724,Saturday,Rockies,84,Cloudy,Night,0,0,0,0
77,September,30,35607,Sunday,Rockies,95,Clear,Day,0,0,0,0
78,October,1,33624,Monday,Giants,86,Clear,Night,0,0,0,0
79,October,2,42473,Tuesday,Giants,83,Clear,Night,0,0,0,0
80,October,3,34014,Wednesday,Giants,82,Cloudy,Night,0,0,0,0

In [8]:
baseball_df.to_csv(r'dodgers_cleaned.csv', index = False)